* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

#formum {
  position: absolute;
  left: 490px;
  top: 150px;
  display: inline-block;
  border-radius: 4px;
}

h3 {
  display: block;
  text-align: center;
  position: relative;
  top: 120px;
}
label {
  display: block;
  background-color: rgba(152, 230, 83, 0.393);
  border-radius: 4px;
}

input {
  display: inline-block;
  width: 296px;
  height: 30px;
  border:1px dashed rgba(152, 230, 83, 0.393);
  border-radius: 4px;
}
